a:hover {
  cursor: pointer;
}

.spinner-padding-left {
  padding-left: 40px;
}

.production-lines-well {
  overflow-x: hidden;
  overflow-y: auto;
  height: 165px;
  background-color: #eaeaea;
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  padding: 7px;
}

.spinner-center {
  margin: auto;
  width: 35%;
  padding-top: 10px;
}

.spinner-message {
  text-align: left;
  padding-top: 20px;
  padding-left: 5px;
}

.font-bold {
  font-weight: bold;
}

.help-text {
  color: grey;
}

.border-right {
  border-right: 2px solid #dbdbdb;
}

.border-left {
  border-left: 2px solid #dbdbdb;
}

