a:hover {
  cursor: pointer;
}

.font-bold {
  font-weight: bold;
}

.help-text {
  color: grey;
}

.border-right {
  border-right: 2px solid #dbdbdb;
}

.border-left {
  border-left: 2px solid #dbdbdb;
}

