
a:hover {
 cursor:pointer;
}

.spinner-padding-left {
  padding-left: 50px;
}

.production-lines-well {
  overflow-x: hidden;
  overflow-y: auto;
  height: 165px;
  background-color: rgb(234, 234, 234);
  border-radius: 2px;
  border: 1px solid rgb(214, 214, 214);
  padding: 7px;
}

.spinner-center {
  margin: auto;
  width: 35%;
  padding-top: 10px;
}

.spinner-message {
  text-align: left;
  padding-top: 20px;
  padding-left: 8px;
}

.font-bold {
  font-weight: bold;
}

.help-text {
  color: grey;
}

.border-right {
  border-right: 2px solid rgb(219, 219, 219);
}

.border-left {
  border-left: 2px solid rgb(219, 219, 219);
}
